<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home/listing">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Food Detail</ion-title>
    <ion-buttons slot="end"> <!-- Mover el botón Eliminar Producto aquí -->
      <ion-button (click)="deleteFood()">Eliminar Producto</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header"></div> <!-- Header section moved to ion-header -->

  <!-- DETALLES DE COMIDA-->
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <h1>{{food?.title}}</h1>
        <p><sup>$</sup>{{food?.price | number: '1.2'}}</p>
      </ion-card-title>
    </ion-card-content>

    <ion-img [src]="food?.image"></ion-img>

    <ion-card-content>

      <div class="about">
        <h2>About</h2>
        <p>{{food?.description}}</p>
      </div>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-button (click)="addItemToCart()" expand="full">
          Add to Cart
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
 

</ion-content>
