h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Fuente serif elegante */
    text-align: center;
    /* Centrar horizontalmente */
    padding: 10px;
    /* Espaciado alrededor del texto */
}
/* Fondo de bienvenidos */
.welcome-container {
    background-image: url('https://img.wattpad.com/2728fb4b6e26679454b824fe163bb6bf68c710c9/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f796438676d6f734d596d6c6653773d3d2d3835303030363838352e313566636166303861353164643032613330363535333731323434332e6a7067?s=fit&w=720&h=720');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
  }
  
.categories {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.list-header {
    border: 2px solid #000000;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #333;
}

.food-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    
}

