<ion-content>
  <app-header></app-header>
  <h1>Menu</h1>
  <div class="content">

    <!-- SEARCHBAR -->
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterFoods()" placeholder="Buscar productos"></ion-searchbar>

    <!-- Categorías -->
    <div class="categories">
      <ion-button *ngFor="let category of categories" (click)="filterByCategory(category)">
        {{ category.name }}
      </ion-button>
      <ion-button (click)="filterByCategory(null)">Mostrar todos</ion-button>
    </div>

    <!-- Agregar nuevo producto -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openAddProductModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


   <!-- PRODUCTS -->
   <h1 class="list-header">Popular</h1>
<div class="food-list">
  <app-food-card *ngFor="let food of filteredFoods" [item]="food" (click)="goToDetailPage(food.id)"></app-food-card>

</div>


   
