<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Ocultar/Mostrar Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- Lista de productos -->
 <ion-list>
  <!-- Iteración sobre cada alimento en la lista -->
  <ion-item *ngFor="let food of foods">
    <!-- Imagen del alimento -->
    <ion-img [src]="food?.image" class="circular-image"></ion-img>
    <!-- Nombre del alimento -->
    <ion-label>{{ food.title }}</ion-label>
    <!-- Botón para ocultar el alimento si no está oculto -->
    <ion-button color="medium"  slot="end" *ngIf="!food.hidden" (click)="hideProduct(food.id)">Ocultar</ion-button>
    <!-- Botón para mostrar el alimento si está oculto -->
    <ion-button color="dark" slot="end" *ngIf="food.hidden" (click)="restoreProduct(food.id)">Mostrar</ion-button>
  </ion-item>
</ion-list>
</ion-content>
