.pedido-content {
  padding: 10px;
}

.pedido-list {
  padding-top: 10px;
}

.pedido-item {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f4f4f4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.pedido-label {
  display: block;
  width: 100%;
}

.pedido-cliente {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.pedido-fecha, .pedido-total, .pedido-estado {
  font-size: 14px;
  margin: 0;
  color: #666;
}

.pedido-items {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 2px solid #007bff;
}

.pedido-item-detail {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pedido-item-detail:last-child {
  border-bottom: none;
}

.pedido-item-label {
  margin-left: 10px;
  flex: 1;
}

.pedido-item-name {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.pedido-item-quantity, .pedido-item-price {
  font-size: 14px;
  margin: 0;
  color: #666;
}

.no-pedidos {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #666;
}

@media (max-width: 600px) {
  .pedido-item {
    padding: 10px;
    margin-bottom: 10px;
  }

  .pedido-cliente {
    font-size: 16px;
  }

  .pedido-fecha, .pedido-total, .pedido-estado {
    font-size: 12px;
  }

  .pedido-item-name {
    font-size: 14px;
  }

  .pedido-item-quantity, .pedido-item-price {
    font-size: 12px;
  }
}

ion-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}