<ion-content>
  <app-header></app-header>
  <h1>Perfil</h1>
  <div class="content ion-text-center">

    <ion-icon class="avatar" name="person-circle-outline"></ion-icon>
    <div *ngIf="user">
      <h2>{{ user.name }}</h2>
      <p>{{ user.email }}</p>
      <!-- Otros detalles del perfil -->
    </div>
    <div *ngIf="!user">
      <p>Usuario no encontrado.</p>
    </div>
    

    <ion-button (click)="signOut()" shape="round">
      Cerrar Sesión
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>